body {
    font-family: $font-family-base;
    background-color: $background-color;
    color: $text-color;
    font-size: $font-size-base;
}

h1, h3 {
    color: $text-color;
}

.container {
    margin-bottom: 50px;
}
