@import './variables.scss'; 
@import 'variables';

.navbar {
    padding: $spacing-unit;
    background-color: $secondary-color;
    
    a {
        font-size: $font-size-medium;
        color: white;
    }
}
