// _responsive.scss
@import './variables'; // Asegúrate de que este archivo existe

@media (max-width: 768px) {
    body {
        background-color: $primary-color; // Cambia el color de fondo para pantallas pequeñas
    }

    h1 {
        font-size: $font-size-medium; // Ajuste de tamaño para h1
    }

    h2 {
        font-size: $font-size-small; // Ajuste de tamaño para h2
    }
}
