// _variables.scss
$font-size-large: 2rem;
$font-size-medium: 1.5rem;
$font-size-small: 1rem;

$primary-color: #ff0077; // Color primario
$secondary-color: #00ff77; // Color secundario
$font-color: #333; // color de texto
$heading-font: 'Playfair Display', serif;
$font-family: 'Montserrat', sans-serif;
$spacing-unit: 1rem; // Unidad de espaciado
$font-color: #333;
