// Colores principales
$primary-color: #ff69b4; // Color rosa, tu color preferido
$secondary-color: #00b894; // Verde o cualquier color de contraste
$font-color: #333; // Color del texto principal

// Fuentes
$font-family: 'Arial', sans-serif;

// Espaciado
$spacing-unit: 1rem;
